@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-morhrv');
    src:url('fonts/icomoon.eot?#iefix-morhrv') format('embedded-opentype'),
        url('fonts/icomoon.woff?-morhrv') format('woff'),
        url('fonts/icomoon.ttf?-morhrv') format('truetype'),
        url('fonts/icomoon.svg?-morhrv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
    content: "\e629";
}
.icon-tw-answer:before {
    content: "\e62a";
}
.icon-tw-more:before {
    content: "\e62b";
}
.icon-tw-retweet:before {
    content: "\e62c";
}
.icon-flecha:before {
    content: "\e600";
}
.icon-form-asunto:before {
    content: "\e601";
}
.icon-form-email:before {
    content: "\e602";
}
.icon-form-empresa:before {
    content: "\e603";
}
.icon-form-mensaje:before {
    content: "\e604";
}
.icon-form-nombre:before {
    content: "\e605";
}
.icon-form-telefono:before {
    content: "\e606";
}
.icon-link:before {
    content: "\e607";
}
.icon-lupa:before {
    content: "\e608";
}
.icon-proyectos:before {
    content: "\e609";
}
.icon-redes-behance:before {
    content: "\e60a";
}
.icon-redes-facebook:before {
    content: "\e60b";
}
.icon-redes-linkedin:before {
    content: "\e60c";
}
.icon-redes-rss:before {
    content: "\e60d";
}
.icon-redes-skype:before {
    content: "\e60e";
}
.icon-redes-twitter:before {
    content: "\e60f";
}
.icon-redes-youtube:before {
    content: "\e610";
}
.icon-servicios-desarrollo:before {
    content: "\e611";
}
.icon-servicios-diseno:before {
    content: "\e612";
}
.icon-servicios-list-3d:before {
    content: "\e613";
}
.icon-servicios-list-ads:before {
    content: "\e614";
}
.icon-servicios-list-analitycs:before {
    content: "\e615";
}
.icon-servicios-list-aplicaciones:before {
    content: "\e616";
}
.icon-servicios-list-banners:before {
    content: "\e617";
}
.icon-servicios-list-contenidos:before {
    content: "\e618";
}
.icon-servicios-list-diseno:before {
    content: "\e619";
}
.icon-servicios-list-email:before {
    content: "\e61a";
}
.icon-servicios-list-flash:before {
    content: "\e61b";
}
.icon-servicios-list-fotografia:before {
    content: "\e61c";
}
.icon-servicios-list-html:before {
    content: "\e61d";
}
.icon-servicios-list-identidad:before {
    content: "\e61e";
}
.icon-servicios-list-minisites:before {
    content: "\e61f";
}
.icon-servicios-list-papeleria:before {
    content: "\e620";
}
.icon-servicios-list-redes:before {
    content: "\e621";
}
.icon-servicios-list-responsive:before {
    content: "\e622";
}
.icon-servicios-list-seo:before {
    content: "\e623";
}
.icon-servicios-list-servidores:before {
    content: "\e624";
}
.icon-servicios-list-sitio:before {
    content: "\e625";
}
.icon-servicios-list-video:before {
    content: "\e626";
}
.icon-servicios-marketing:before {
    content: "\e627";
}
.icon-twitter:before {
    content: "\e628";
}
